$colorLight: var(--colorLight, white);
$colorDark: var(--colorDark, rgb(94, 91, 91));

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: $colorLight;
}

.header {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid $colorDark;
}

.header-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-main {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}

.header-title {
  font-size: 46px;
  color: $colorDark;
}

.block-theme {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.moon-icon {
  width: 30px;
  height: 30px;
  background-image: url(./assets/moon.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.sun-icon {
  width: 30px;
  height: 30px;
  background-image: url(./assets/sun.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.switch-theme {
  width: 42px;
  height: 26px;
  background-color: black;
  border-radius: 13px;
  display: flex;
  align-items: center;
  padding: 0 3px;
}

.selector-theme {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: white;
  transition: transform 0.8s;
}

#change-theme:checked + .switch-theme .selector-theme {
  transform: translateX(14px);
}

#change-theme {
  display: none;
}

.levelSelection {
  width: 150px;
  height: 34px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid $colorDark;
  background-color: $colorLight;
  color: $colorDark;
}

.block-rules {
  width: 20%;
  padding-top: 20px;
  text-align: justify;
  color: $colorDark;
}

.rules-header {
  text-align: center;
  padding-bottom: 10px;
}

.rules-text {
  text-indent: 20px;
  font-size: 17px;
}

.block-game {
  width: 60%;
  padding: 20px 30px 0 30px;
}

.block-controls {
  display: flex;
  justify-content: space-around;
}

.start-game {
  width: 150px;
  height: 34px;
  font-size: 18px;
  line-height: 27px;
  border: 2px solid $colorDark;
  background-color: $colorLight;
  color: $colorDark;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.block-counter,
.block-clicks,
.block-tag {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter-icon {
  width: 30px;
  height: 30px;
  background-image: url(./assets/clock.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.counter-time,
.counter-click,
.counter-tag {
  color: $colorDark;
  font-size: 18px;
}

#tag,
#clicks-icon,
#counter-icon {
  fill: $colorDark;
}

.block-board {
  width: fit-content;
  margin: 30px auto 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid $colorDark;
  cursor: pointer;
}

.cell.flag {
  background-image: url(./assets/flag.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.cell.open {
  background-color: aqua;
  cursor: auto;
}

.popup-wrapper {
  visibility: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.popup-wrapper.active {
  visibility: visible;
}

.popup {
  width: 300px;
  height: 150px;
  border-radius: 30px;
  background-color: white;
}

.popup-header {
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}

.block-results-count {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.seconds-results,
.clicks-results {
  font-size: 18px;
  font-weight: 600;
}

.tryAgain-btn {
  width: 100px;
  height: 36px;
  line-height: 27px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 18px;
  cursor: pointer;
}

.block-result {
  width: 20%;
  padding-top: 50px;
}

.table-results {
  border-spacing: 0;
  margin: 0 auto;
}

.cell-results {
  width: 50px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
}
